@media screen and (max-width: 480px){
	/* ----- layout ---- */
	.grey-bg, .white-bg{
		padding: 50px 20px;
	}
	/* ----- hero ----- */
	.hero-content{
		min-width: 300px;
		padding: 20px;
	}
	.menu-wrap{width: 220px;}
	/* ---- about ----- */
	.wrap-about{
		padding: 0 0 20px 0;
		min-height: 400px !important;
	}
	.wrap-about .w-content{
		left: 0;
    right: 0;
    width: 100%;
    top: 0;
    padding: 20px 0;
    transform: none;
	}
	/* ----- work ----- */
	figure {
		width: 100%;
	}
	/* ----- connect ----- */
	#connect {
		padding: 150px 0 150px 0;
	}
}


@media screen and (max-width: 768px){
	/*------ header -----*/
	.for-sticky{ padding: 0; }
	.logo-nav { margin-left: 0;}
	.menu-button{margin-right: 15px;}
	/*------- home ------*/
	#home p {width: 100%;}
  /*------- about -------*/
  .wrap-about{
  	min-height: 520px;
  	padding: 10% 30px;
  }
	/*------ footer -----*/
  footer p{ text-align: center; }
  footer ul.social {
    margin-left: -40px;
    text-align: center;
	}
}

@media screen and (min-width: 1024px){

}
